{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "semi": [
            "error",
            "never"
        ],
        "react/jsx-filename-extension": [
          1,
          {
            "extensions": [".js", ".jsx"]
          }
        ],
        "react/prop-types": "0",
        "jsx-a11y/anchor-is-valid": ["0"],
        "react/jsx-no-target-blank": ["0"]
    },
    "extends": [
      "prettier",
      "prettier/react"
    ]
}
